{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-center mb-5 mt-3">Gestion des stocks alimentaires</h1>
        <a href="{{ path('app_products_new') }}" class="float-end btn btn-success">Nouveau produit</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Stocks</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.stocks }}</td>
                <td>
                    <a href="{{ path('app_products_show', {'id': product.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('app_products_edit', {'id': product.id}) }}" class="btn btn-info">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun produit trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
